body {
    margin: 0;
    font-family: 'Imprima',
    'Roboto',
    sans-serif;
}

header {
    position: relative;
    min-height: 400px;
    color: #fff;
    background-color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    }

    header>* {
        z-index: 10;
    }

    .home__page header {
        background-image: url(../assets/two.png);
    }

    /* Using PsedoClasses to give it a grdient feel */

    header::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .35);
    }

    .profile__image {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 50%;
        background-image: url(../assets/profile.jpg);
        background-size: cover;
    }

    .profile__name {
        font-size: 3rem;
        font-weight: bold;
    }

    .profile__subtext {
        margin-top: 8px;
    }

    .main {
        /* background-color: yellow; */
        margin-top: 32px;
        display: flex;
        justify-content: center;
    }

    .main__container {
        max-width: 600px;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .post {
    text-decoration: none;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease-out;
    margin-top: 24px;

    }

    .post:hover {
        transform: translate3d(0, -5px, 0);
        box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .05);
    }

    .post__date {
        font-size: 12px;
        color: #adb5bd;
        font-weight: 600;
    }

    .post__title {
        font-size: 1.5em;
        margin-top: 16px;
        color: #333;
    }

    .post__title h4 {
        margin: 0;
    }

    .post__image {
        flex: 40%;
        /* background-image: url(../assets/one.png); */
        background-size: cover;
        background-position: center;
        /* overflow: hidden; */
    }

    .post__text {
        margin-top: 4px;
        color: #495057;
        font-weight: 400;
        line-height: 1.4;
        max-height: 80px;
        /* overflow: hidden; */
    }

    .post__content {
        flex: 60%;
        padding: 24px;
    }

    .post__link{
        text-decoration: none;
    }



    footer {
        min-height: 100px;
        background-color: #eaecee70;
        color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}
/* Targeting both the nav button class and the new post button class */
.nav__button.new__post__button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: #004186;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: all .3s ease;
}

.nav__button.new__post__button:hover {
    background-color: #002349;
}

.navigation a {
    text-decoration: none;
    color: #004186;
    border: 1px solid #004186;
    border-radius: 5px;
    padding: 8px;
}