body {
    margin: 0;
    font-family: 'Imprima','Roboto',sans-serif;
}

header{
    min-height: 350px;
    background-color: blue;
}

.post{
    text-decoration: none;
}

footer{
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}