#individual__post__title {
    text-align: center;
    font-size: 2em;
    padding-top: 24px;
    padding-bottom: 24px;
}

#individual__post__date {
    border-top: 1px solid #f1f4f8;
    border-bottom: 1px solid #f1f4f8;
    padding: 24px 0;
    padding-left: 16px;
    color: #adb5bd;
}

#individual__post__content {
    padding: 0 16px;
    padding-top: 24px;
    color: #495057;
    line-height: 1.4;
}